
<div class='row'>
  <div class='span3'>
    <img  src="http://placehold.it/250x150" alt="CryoSearch">
  </div>
  <div class="span9">
    <h1 id="cryosearch">CryoSearch</h1>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <h2>Current Protocols</h2>
    <% @protocols.each do |p| %>
      <li>
        <em><%= link_to "#{p.genus} #{p.species}", p %></em> added on <%= p.created_at.to_date %>
      </li>
    <% end %>
  </div>
</div>
